## Run Docker with Postgres

```
docker run -it \
    -e POSTGRES_USER="root" \
    -e POSTGRES_PASSWORD="root" \
    -e POSTGRES_DB="ny_taxi" \
    -p 5433:5432 \
    postgres:13
```

## Download data

In [1]:
%%bash

wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz \
    -O green_tripdata_2019-01.csv.gz

wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv \
    -O taxi+_zone_lookup.csv

--2023-01-26 15:48:59--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T154817Z&X-Amz-Expires=300&X-Amz-Signature=540a02ec0a0223bb65d3cb21306369c9856238295ac8f439f39e7a3253cd1df3&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-26 15:48:59--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T154817Z&X-Amz-Expires=300&X-Amz-Signature=540a02ec0a0223bb65d3cb21306369c9856238295ac8f439f39e7a3253cd1df3&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-01.csv.gz’

     0K .......... .......... .......... .......... ..........  0% 1.41M 7s
    50K .......... .......... .......... .......... ..........  0% 1.96M 6s
   100K .......... .......... .......... .......... ..........  1% 6.60M 5s
   150K .......... .......... .......... .......... ..........  1% 9.01M 4s
   200K .......... .......... .......... .......... ..........  2% 3.05M 4s
   250K .......... .......... .......... .......... ..........  2% 10.1M 3s
   300K .......... .......... .......... .......... ..........  3% 13.9M 3s
   350K .......... .......... .......... .......... ..........  3% 11.1M 3s
   400K .......... .......... .......... .......... ..........  4% 16.7M 2s
   450K .......... .......... .......... .......... ..........  4% 26.5M 2s
   500K .......... .......... .......... .......... ..........  5% 3.84M 2s
   550K .......... .......... .......... .......... ..........  5% 28.0M 2s
   600K .......... .......... .......... .......... ..........  5% 15.7M 2s
   650K .......... .......... .......... .......... ..........  6% 34.1M 2s
   700K .......... .......... .......... .......... ..........  6% 24.7M 2s
   750K .......... .......... .......... .......... ..........  7% 25.4M 2s
   800K .......... .......... .......... .......... ..........  7% 29.4M 2s
   850K .......... .......... .......... .......... ..........  8% 29.8M 1s
   900K .......... .......... .......... .......... ..........  8% 41.2M 1s
   950K .......... .......... .......... .......... ..........  9% 37.2M 1s
  1000K .......... .......... .......... .......... ..........  9% 42.4M 1s
  1050K .......... .......... .......... .......... .......... 10% 3.98M 1s
  1100K .......... .......... .......... .......... .......... 10%  157M 1s
  1150K .......... .......... .......... .......... .......... 11% 30.9M 1s
  1200K .......... .......... .......... .......... .......... 11% 36.1M 1s
  1250K .......... .......... .......... .......... .......... 11% 61.1M 1s
  1300K .......... .......... .......... .......... .......... 12% 28.4M 1s
  1350K .......... .......... .......... .......... .......... 12%  127M 1s
  1400K .......... .......... .......... .......... .......... 13%  115M 1s
  1450K .......... .......... .......... .......... .......... 13% 28.4M 1s
  1500K .......... .......... .......... .......... .......... 14% 59.2M 1s
  1550K .......... .......... .......... .......... .......... 14% 56.4M 1s
  1600K .......... .......... .......... .......... .......... 15% 56.6M 1s
  1650K .......... .......... .......... .......... .......... 15%  101M 1s
  1700K .......... .......... .......... .......... .......... 16% 38.6M 1s
  1750K .......... .......... .......... .......... .......... 16% 89.3M 1s
  1800K .......... .......... .......... .......... .......... 17% 45.1M 1s
  1850K .......... .......... .......... .......... .......... 17%  160M 1s
  1900K .......... .......... .......... .......... .......... 17% 51.2M 1s
  1950K .......... .......... .......... .......... .......... 18% 70.1M 1s
  2000K .......... .......... .......... .......... .......... 18% 74.8M 1s
  2050K .......... .......... .......... .......... .......... 19% 69.2M 1s
  2100K .......... .......... .......... .......... .......... 19%  140M 1s
  2150K .......... .......... .......... .......... .......... 20% 4.32M 1s
  2200K .......... .......... .......... .......... .......... 20%  265M 1s
  2250K .......... .......... .......... .......... .......... 21% 59.5M 1s
  2300K .......... .......... .......... .......... .......... 21%  274M 1s
  2350K .......... .......... .......... .......... .......... 22% 66.6M 1s
  2400K .......... .......... .......... .......... .......... 22% 42.7M 1s
  2450K .......... .......... .......... .......... .......... 23%  175M 1s
  2500K .......... .......... .......... .......... .......... 23% 64.4M 1s
  2550K .......... .......... .......... .......... .......... 23%  266M 1s
  2600K .......... .......... .......... .......... .......... 24% 95.4M 1s
  2650K .......... .......... .......... .......... .......... 24% 32.5M 1s
  2700K .......... .......... .......... .......... .......... 25%  284M 1s
  2750K .......... .......... .......... .......... .......... 25%  130M 1s
  2800K .......... .......... .......... .......... .......... 26%  290M 1s
  2850K .......... .......... .......... .......... .......... 26% 81.3M 1s
  2900K .......... .......... .......... .......... .......... 27% 63.5M 0s
  2950K .......... .......... .......... .......... .......... 27%  149M 0s
  3000K .......... .......... .......... .......... .......... 28%  306M 0s
  3050K .......... .......... .......... .......... .......... 28% 67.9M 0s
  3100K .......... .......... .......... .......... .......... 29% 92.3M 0s
  3150K .......... .......... .......... .......... .......... 29%  136M 0s
  3200K .......... .......... .......... .......... .......... 29%  110M 0s
  3250K .......... .......... .......... .......... .......... 30%  325M 0s
  3300K .......... .......... .......... .......... .......... 30% 67.4M 0s
  3350K .......... .......... .......... .......... .......... 31%  112M 0s
  3400K .......... .......... .......... .......... .......... 31%  104M 0s
  3450K .......... .......... .......... .......... .......... 32%  143M 0s
  3500K .......... .......... .......... .......... .......... 32%  260M 0s
  3550K .......... .......... .......... .......... .......... 33% 1.60M 0s
  3600K .......... .......... .......... .......... .......... 33%  218M 0s
  3650K .......... .......... .......... .......... .......... 34%  316M 0s
  3700K .......... .......... .......... .......... .......... 34%  278M 0s
  3750K .......... .......... .......... .......... .......... 35%  292M 0s
  3800K .......... .......... .......... .......... .......... 35% 90.1M 0s
  3850K .......... .......... .......... .......... .......... 35%  305M 0s
  3900K .......... .......... .......... .......... .......... 36%  277M 0s
  3950K .......... .......... .......... .......... .......... 36%  292M 0s
  4000K .......... .......... .......... .......... .......... 37% 88.0M 0s
  4050K .......... .......... .......... .......... .......... 37%  416K 1s
  4100K .......... .......... .......... .......... .......... 38%  143M 1s
  4150K .......... .......... .......... .......... .......... 38%  312M 1s
  4200K .......... .......... .......... .......... .......... 39%  265M 1s
  4250K .......... .......... .......... .......... .......... 39%  313M 1s
  4300K .......... .......... .......... .......... .......... 40%  307M 1s
  4350K .......... .......... .......... .......... .......... 40%  204M 1s
  4400K .......... .......... .......... .......... .......... 41%  141M 0s
  4450K .......... .......... .......... .......... .......... 41%  279M 0s
  4500K .......... .......... .......... .......... .......... 41%  233M 0s
  4550K .......... .......... .......... .......... .......... 42%  305M 0s
  4600K .......... .......... .......... .......... .......... 42%  296M 0s
  4650K .......... .......... .......... .......... .......... 43%  350M 0s
  4700K .......... .......... .......... .......... .......... 43%  197M 0s
  4750K .......... .......... .......... .......... .......... 44%  331M 0s
  4800K .......... .......... .......... .......... .......... 44%  272M 0s
  4850K .......... .......... .......... .......... .......... 45%  266M 0s
  4900K .......... .......... .......... .......... .......... 45%  310M 0s
  4950K .......... .......... .......... .......... .......... 46%  133M 0s
  5000K .......... .......... .......... .......... .......... 46%  306M 0s
  5050K .......... .......... .......... .......... .......... 47%  187M 0s
  5100K .......... .......... .......... .......... .......... 47%  332M 0s
  5150K .......... .......... .......... .......... .......... 47%  346M 0s
  5200K .......... .......... .......... .......... .......... 48%  255M 0s
  5250K .......... .......... .......... .......... .......... 48%  154M 0s
  5300K .......... .......... .......... .......... .......... 49%  270M 0s
  5350K .......... .......... .......... .......... .......... 49%  279M 0s
  5400K .......... .......... .......... .......... .......... 50%  257M 0s
  5450K .......... .......... .......... .......... .......... 50%  268M 0s
  5500K .......... .......... .......... .......... .......... 51%  225M 0s
  5550K .......... .......... .......... .......... .......... 51%  287M 0s
  5600K .......... .......... .......... .......... .......... 52%  260M 0s
  5650K .......... .......... .......... .......... .......... 52%  317M 0s
  5700K .......... .......... .......... .......... .......... 53%  259M 0s
  5750K .......... .......... .......... .......... .......... 53%  333M 0s
  5800K .......... .......... .......... .......... .......... 53%  193M 0s
  5850K .......... .......... .......... .......... .......... 54%  325M 0s
  5900K .......... .......... .......... .......... .......... 54%  215M 0s
  5950K .......... .......... .......... .......... .......... 55%  232M 0s
  6000K .......... .......... .......... .......... .......... 55%  200M 0s
  6050K .......... .......... .......... .......... .......... 56%  287M 0s
  6100K .......... .......... .......... .......... .......... 56%  305M 0s
  6150K .......... .......... .......... .......... .......... 57%  209M 0s
  6200K .......... .......... .......... .......... .......... 57%  142M 0s
  6250K .......... .......... .......... .......... .......... 58%  313M 0s
  6300K .......... .......... .......... .......... .......... 58%  347M 0s
  6350K .......... .......... .......... .......... .......... 59%  222M 0s
  6400K .......... .......... .......... .......... .......... 59%  228M 0s
  6450K .......... .......... .......... .......... .......... 59%  253M 0s
  6500K .......... .......... .......... .......... .......... 60%  494K 0s
  6550K .......... .......... .......... .......... .......... 60%  281M 0s
  6600K .......... .......... .......... .......... .......... 61%  301M 0s
  6650K .......... .......... .......... .......... .......... 61%  302M 0s
  6700K .......... .......... .......... .......... .......... 62%  259M 0s
  6750K .......... .......... .......... .......... .......... 62%  325M 0s
  6800K .......... .......... .......... .......... .......... 63%  284M 0s
  6850K .......... .......... .......... .......... .......... 63%  301M 0s
  6900K .......... .......... .......... .......... .......... 64%  335M 0s
  6950K .......... .......... .......... .......... .......... 64%  269M 0s
  7000K .......... .......... .......... .......... .......... 65%  290M 0s
  7050K .......... .......... .......... .......... .......... 65%  318M 0s
  7100K .......... .......... .......... .......... .......... 65%  328M 0s
  7150K .......... .......... .......... .......... .......... 66%  330M 0s
  7200K .......... .......... .......... .......... .......... 66%  263M 0s
  7250K .......... .......... .......... .......... .......... 67%  286M 0s
  7300K .......... .......... .......... .......... .......... 67%  340M 0s
  7350K .......... .......... .......... .......... .......... 68%  323M 0s
  7400K .......... .......... .......... .......... .......... 68%  288M 0s
  7450K .......... .......... .......... .......... .......... 69%  307M 0s
  7500K .......... .......... .......... .......... .......... 69%  339M 0s
  7550K .......... .......... .......... .......... .......... 70%  336M 0s
  7600K .......... .......... .......... .......... .......... 70%  274M 0s
  7650K .......... .......... .......... .......... .......... 71%  306M 0s
  7700K .......... .......... .......... .......... .......... 71%  316M 0s
  7750K .......... .......... .......... .......... .......... 71%  336M 0s
  7800K .......... .......... .......... .......... .......... 72%  320M 0s
  7850K .......... .......... .......... .......... .......... 72%  337M 0s
  7900K .......... .......... .......... .......... .......... 73%  318M 0s
  7950K .......... .......... .......... .......... .......... 73%  321M 0s
  8000K .......... .......... .......... .......... .......... 74%  281M 0s
  8050K .......... .......... .......... .......... .......... 74%  337M 0s
  8100K .......... .......... .......... .......... .......... 75%  336M 0s
  8150K .......... .......... .......... .......... .......... 75%  441K 0s
  8200K .......... .......... .......... .......... .......... 76%  168M 0s
  8250K .......... .......... .......... .......... .......... 76%  349M 0s
  8300K .......... .......... .......... .......... .......... 77%  371M 0s
  8350K .......... .......... .......... .......... .......... 77%  344M 0s
  8400K .......... .......... .......... .......... .......... 77% 4.13M 0s
  8450K .......... .......... .......... .......... .......... 78%  171M 0s
  8500K .......... .......... .......... .......... .......... 78%  276M 0s
  8550K .......... .......... .......... .......... .......... 79%  296M 0s
  8600K .......... .......... .......... .......... .......... 79%  273M 0s
  8650K .......... .......... .......... .......... .......... 80%  324M 0s
  8700K .......... .......... .......... .......... .......... 80%  324M 0s
  8750K .......... .......... .......... .......... .......... 81%  305M 0s
  8800K .......... .......... .......... .......... .......... 81%  287M 0s
  8850K .......... .......... .......... .......... .......... 82%  117M 0s
  8900K .......... .......... .......... .......... .......... 82%  348M 0s
  8950K .......... .......... .......... .......... .......... 83%  344M 0s
  9000K .......... .......... .......... .......... .......... 83%  271M 0s
  9050K .......... .......... .......... .......... .......... 83%  354M 0s
  9100K .......... .......... .......... .......... .......... 84%  326M 0s
  9150K .......... .......... .......... .......... .......... 84%  349M 0s
  9200K .......... .......... .......... .......... .......... 85%  257M 0s
  9250K .......... .......... .......... .......... .......... 85%  325M 0s
  9300K .......... .......... .......... .......... .......... 86%  307M 0s
  9350K .......... .......... .......... .......... .......... 86%  319M 0s
  9400K .......... .......... .......... .......... .......... 87%  302M 0s
  9450K .......... .......... .......... .......... .......... 87%  333M 0s
  9500K .......... .......... .......... .......... .......... 88%  315M 0s
  9550K .......... .......... .......... .......... .......... 88%  327M 0s
  9600K .......... .......... .......... .......... .......... 89%  297M 0s
  9650K .......... .......... .......... .......... .......... 89%  362M 0s
  9700K .......... .......... .......... .......... .......... 89%  354M 0s
  9750K .......... .......... .......... .......... .......... 90%  297M 0s
  9800K .......... .......... .......... .......... .......... 90%  289M 0s
  9850K .......... .......... .......... .......... .......... 91%  325M 0s
  9900K .......... .......... .......... .......... .......... 91%  351M 0s
  9950K .......... .......... .......... .......... .......... 92%  353M 0s
 10000K .......... .......... .......... .......... .......... 92%  213M 0s
 10050K .......... .......... .......... .......... .......... 93%  302M 0s
 10100K .......... .......... .......... .......... .......... 93%  331M 0s
 10150K .......... .......... .......... .......... .......... 94%  341M 0s
 10200K .......... .......... .......... .......... .......... 94%  317M 0s
 10250K .......... .......... .......... .......... .......... 95%  302M 0s
 10300K .......... .......... .......... .......... .......... 95%  305M 0s
 10350K .......... .......... .......... .......... .......... 95%  352M 0s
 10400K .......... .......... .......... .......... .......... 96%  286M 0s
 10450K .......... .......... .......... .......... .......... 96%  348M 0s
 10500K .......... .......... .......... .......... .......... 97%  316M 0s
 10550K .......... .......... .......... .......... .......... 97%  357M 0s
 10600K .......... .......... .......... .......... .......... 98%  282M 0s
 10650K .......... .......... .......... .......... .......... 98%  347M 0s
 10700K .......... .......... .......... .......... .......... 99%  335M 0s
 10750K .......... .......... .......... .......... .......... 99%  327M 0s
 10800K .......... .......... .......... .........            100%  308M=0.6s

2023-01-26 15:49:00 (17.9 MB/s) - ‘green_tripdata_2019-01.csv.gz’ saved [11099245/11099245]

--2023-01-26 15:49:00--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.62.88, 52.216.60.24, 54.231.165.80, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.62.88|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

     0K .......... ..                                         100%  115M=0s

2023-01-26 15:49:01 (115 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [2]:
import pandas as pd

from sqlalchemy import create_engine

from tqdm import tqdm

## Check connection

In [3]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
engine

Engine(postgresql://root:***@localhost:5433/ny_taxi)

In [4]:
engine.connect()

In [5]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

## Upload tables

### Taxi data

In [6]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz', parse_dates=[
    'lpep_pickup_datetime',
    'lpep_dropoff_datetime',
])

df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [7]:
df.shape

(630918, 20)

In [8]:
df.head(n=0).to_sql(name='taxi_data', con=engine, if_exists='replace')

0

In [9]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', parse_dates=[
    'lpep_pickup_datetime',
    'lpep_dropoff_datetime',
], iterator=True, chunksize=100_000)

for chunk in tqdm(df_iter):
    chunk.to_sql(name='taxi_data', con=engine, if_exists='append')

7it [00:46,  6.71s/it]

In [10]:
sql_query = """
select count(*) from taxi_data
"""

pd.read_sql(sql_query, con=engine)

    count
0  630918

### Zones

In [11]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
df_zones.shape

(265, 4)

In [13]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

### Sanity check

In [14]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,taxi_data,root,None,True,False,False,False
1,public,zones,root,None,True,False,False,False

## Tasks

### Question 1. Knowing docker tags

In [15]:
!docker build --help | grep "Write the image ID to the file"

      --iidfile string          Write the image ID to the file

### Question 2. Understanding docker first run

You should run:

```
docker run -it python:3.9 /bin/bash
pip list # inside docker
```

The answer will be:

```
Package    Version
---------- -------
pip        22.0.4
setuptools 58.1.0
wheel      0.38.4
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.
```

### Question 3. Count records

In [16]:
sql_query = '''
select count(*)
from taxi_data
where
    true
    and lpep_pickup_datetime::TIMESTAMP::DATE = date '2019-01-15'
    and lpep_dropoff_datetime::TIMESTAMP::DATE = date '2019-01-15'
limit 10
'''

pd.read_sql(sql_query, con=engine)

   count
0  20530

### Question 4. Largest trip for each day

In [17]:
sql_query = '''
select lpep_pickup_datetime::TIMESTAMP::DATE 
from taxi_data
where trip_distance = ( select max(trip_distance) from taxi_data )
limit 10
'''

pd.read_sql(sql_query, con=engine)

  lpep_pickup_datetime
0           2019-01-15

### Question 5. The number of passengers

In [18]:
sql_query = '''
select passenger_count, count(*)
from taxi_data
where lpep_pickup_datetime::TIMESTAMP::DATE = date '2019-01-01'
group by passenger_count
having passenger_count in (2, 3)
'''

pd.read_sql(sql_query, con=engine)

   passenger_count  count
0                2   1282
1                3    254

### Question 6. Largest tip

In [19]:
sql_query = '''
with db_astoria as (
    select *
    from taxi_data
    where "PULocationID" = ( select "LocationID" from zones where "Zone" = 'Astoria' )
)

select "Zone" from (
    select "DOLocationID"
    from db_astoria
    where tip_amount = ( select max(tip_amount) from db_astoria )
) as da
join zones on "DOLocationID" = "LocationID"
'''

pd.read_sql(sql_query, con=engine)

                            Zone
0  Long Island City/Queens Plaza